<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>HumanResourceManagementSystem</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ConveyanceController</display-name>
		<servlet-name>ConveyanceController</servlet-name>
		<servlet-class>com.hrms.controller.ConveyanceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConveyanceController</servlet-name>
		<url-pattern>/ConveyanceController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PaySlipController</display-name>
		<servlet-name>PaySlipController</servlet-name>
		<servlet-class>com.hrms.controller.PaySlipController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaySlipController</servlet-name>
		<url-pattern>/PaySlipController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.hrms.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchController</display-name>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>com.hrms.controller.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/SearchController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AppraisalController</display-name>
		<servlet-name>AppraisalController</servlet-name>
		<servlet-class>com.hrms.controller.AppraisalController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppraisalController</servlet-name>
		<url-pattern>/AppraisalController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LeaveApplicationController</display-name>
		<servlet-name>LeaveApplicationController</servlet-name>
		<servlet-class>com.hrms.controller.LeaveApplicationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaveApplicationController</servlet-name>
		<url-pattern>/LeaveApplicationController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegistrationController</display-name>
		<servlet-name>RegistrationController</servlet-name>
		<servlet-class>com.hrms.controller.RegistrationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationController</servlet-name>
		<url-pattern>/RegistrationController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoggerInitializer</display-name>
		<servlet-name>LoggerInitializer</servlet-name>
		<servlet-class>com.hrms.log.LoggerInitializer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoggerInitializer</servlet-name>
		<url-pattern>/LoggerInitializer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HomeController</display-name>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>com.hrms.controller.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/HomeController</url-pattern>
	</servlet-mapping>
</web-app>